ul{
    background-color: blue;
    list-style-type: none;
    margin: 0;
    padding: 30px;
    width: 100%;
}

ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
}

li{
    float: left;
}

.drop-down-content{
    display: none;
    background-color: darkgrey;
}

.drop-down-content a{
    display: block;
}

.drop-down-content a:hover{
    background-color:gray;
}

.dropdown:hover .drop-down-content{
    display: block;
}