<h1>Admin Profile</h1>
{{#with admin}}         
    {{#with admin1}}
    <p><b>{{name}}</b> verified</p>
    <p><b>{{email}}</b> verified</p>
    {{/with}}
{{/with}}

 {{!-- with- to access nested objects --}}